---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

// Font Weights
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// Our variables
$max-width:               600px;
$base-font-family:        'proxima-nova', 'Roboto', Helvetica, Arial, sans-serif;
$base-font-size:          18px;
$base-line-height:        1.5;
$base-font-weight:        $thin;

$small-font-size:         $base-font-size * 0.875;

$spacing-unit:            1.67em;

$small-icon-size:         $spacing-unit * 1.2;
$large-icon-size:         $spacing-unit * 1.6;

$text-color:              #333333;

$brand-color:             #8f44ad;
$brand-color-light:       lighten($brand-color, 10%);
$brand-color-dark:        darken($brand-color, 10%);

$secondary-color:         #feee85;
$secondary-color-light:   lighten($secondary-color, 10%);
$secondary-color-dark:    darken($secondary-color, 10%);

$grey-color:              #828282;
$grey-color-light:        lighten($grey-color, 40%);
$grey-color-medium:       lighten($grey-color, 25%);
$grey-color-dark:         darken($grey-color, 25%);

$racecarstudio-red:       #a11400;
$racecarstudio-red-dark:  darken($racecarstudio-red, 10%);

$facebook-blue:           #3b5998;
$facebook-blue-dark:      darken($facebook-blue, 10%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "_mixins",
  "_breakpoints",
  "../node_modules/normalize.css/normalize.css",
  "../node_modules/purecss/build/pure-min.css",
  "footer",
  "button",
  "form",
  "section",
  "header"
;

* {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $text-color;
  line-height: $base-line-height;
}

body {
  border-top: $spacing-unit / 2 solid $brand-color;
  padding-top: $spacing-unit * 4;

  @include bp(iphone-6-plus-landscape) {
    padding-top: $spacing-unit;
  }
}

a {
  color: $brand-color;
  text-decoration: none;
  -webkit-transition: all 0.22s linear;
  -moz-transition: all 0.22s linear;
  transition: all 0.22s linear;

  &:hover {
    color: $brand-color-light;
  }

  &:focus {
    color: $brand-color-dark;
  }
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: $base-font-weight;
  font-style: normal;
  line-height: 1;
}

h1, h1 a {
  font-size: $base-font-size * 2.67;
}

h2, h2 a {
  font-size: $base-font-size * 1.7;
}

h3, h3 a {
  font-size: $base-font-size * 1.5;
}

h4, h4 a {
  font-size: $base-font-size * 1.3;
}

h5, h5 a {
  font-size: $base-font-size * 1.2;
}

h6, h6 a {
  font-size: $base-font-size * 1.1;
  font-style: italic;
}

blockquote, q {
  border-left: $spacing-unit * 0.1 solid $grey-color-light;
  margin: $spacing-unit 0;
  padding-left: $spacing-unit / 2;
  quotes: none;
  width: calc(100% - #{$spacing-unit / 2} - #{$spacing-unit * 0.1});

  p {
    margin-bottom: $spacing-unit !important;
  }
}

cite {
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
